.form--practicePlan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-position-x: right;
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    background-color: rgb(144 92 92);
    box-shadow: #191919 0.7em 0.7em 1em 3px;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    color: white;
    margin: 4em 28em 28em 28em;
    padding-bottom: 2em;
    border-radius: 1em;
}

.category-dropdown-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    color:white;
    align-items: center;
}

.search-options-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
}

.practicePlanExercises {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.exerciseDiv {
    display: flex;
}

.practicePlan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-position-x: right;
    background-color: rgb(144 92 92);
    box-shadow: #191919 0.7em 0.7em 1em 3px;
    color: white;
    width: 12em;
    padding: 2em;
    border-radius: 1em;
    margin: 2em 1em;
}

.practicePlans {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.practicePlan-buttons {
    display: flex;
    justify-content: center;
}

.practicePlanDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-position-x: right;
    background-color: rgb(144 92 92);
    box-shadow: #191919 0.7em 0.7em 1em 3px;
    color: white;
    width: 35em;
    padding: 2em 5em 5em 5em;
    border-radius: 1em;
    margin: 2em 1em;
}

.practicePlanDetail-container {
    display: flex;
    justify-content: center;
}

/* .practicePlanDetail-container {
    padding-left: 35em;
} */